body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: white;
}

/* Adjust scroll position to compensate for the fixed navbar */
header.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

/* Home */
.home {
  padding-top: 80px;
  background-image: url(/src/assets/img/home/weedtech.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.home-content {
  text-align: center;
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.home-title {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 20px;
}

.home-description {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 40px;
}

.home-subdescription {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 40px;
}

.home-btn {
  background-color: #fff;
  color: #333;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


/* Responsive styles */
@media screen and (max-width: 768px) {
  .home-title {
    font-size: 2.5rem;
  }

  .home-description {
    font-size: 1.2rem;
  }

  .home-subdescription {
    font-size: 1rem;
  }

  .home-btn {
    font-size: 1rem;
  }
}

/* Home */

/* About */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.about-content {
  padding-top: 20px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-description {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
}

.about-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.about-image img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  border-radius: 4px;
}


/* Responsive styles */
@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    padding: 20px;
  }

  .about-content {
    margin-bottom: 30px;
  }

  .about-image {
    margin-left: 0;
  }

  .about-image img {
    max-width: 100%;
  }

  .about-title {
    font-size: 2rem;
  }

  .about-description {
    font-size: 1rem;
  }
}

/* About */

/* Services */
.services {
  padding-top: 60px;
  background-color: #e9e9e9;
}

.services h1 {
  text-align: center;
  margin-bottom: 70px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-item {
  width: 300px;
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

.service-item:hover {
  transform: scale(1.05);
}

.service-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.service-item h3 {
  margin-top: 10px;
  text-align: center;
  color: black;
}

.service-item p {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  text-align: center;
}


/* Responsive CSS for smaller devices */
@media (max-width: 768px) {
  .service-list {
    justify-content: center;
  }

  .service-item {
    width: 250px;
  }
}

/* Services */

/* Contact */
#contact {
  background-color: #f5f5f5;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

form {
  width: 100%;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #contact {
    padding: 10px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  button[type="submit"] {
    padding: 8px 16px;
  }
}

/* Contact */
